@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Odor";
    src: url("/home/flask-hello-world/app/public/fonts/OdorMeanChey-Regular.ttf");
    font-weight: normal; /* Adjust font weight as needed */
    font-style: normal; /* Adjust font style as needed */
  }

@font-face {
    font-family: "Helveticafor";
    src: url("/home/flask-hello-world/app/public/fonts/HelveticaforTarget-Bold.ttf");
    font-weight: normal; /* Adjust font weight as needed */
    font-style: normal; /* Adjust font style as needed */
  }