<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

</head>
<body>
    
    <p class="w-[235px] h-[105px] text-[45px] text-center text-neutral-700">
        b<img src="{{ url_for('static', filename='images/Bubble.png') }}" class="w-[49px] h-[47px] object-contain" />
    </p>
    <div class="w-[1440px] h-[105px] bg-white"></div>
    
</body>

<style>
    .image {
      width: 200px;
    }
  </style>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</html>