 <!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>		
    <section class="base_container">
    
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>
    <div class="default-box">meu box</div>

    </section>
	</body>
</html>



@tailwind base;
@tailwind components;
@tailwind utilities;

.base_container {
  @apply container mx-auto grid gap-4 sm:grid-cols-2 md:grid-cols-3 bg-blue-300 sm:p-8
}

.deaful-box {
  @apply flex items-center justify-center w-full h-52 bg-gray-400
}