<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"> </script>
</head>

<body">
  <div class="items-center justify-center pl-2 border h-14">
      <img src="{{ url_for('static', filename='images/logo_bolha_dev.svg')}}" width=17% height=17% class="p-2"/>
    </div>
    <section class="flex bg-slate-100">
      <aside class="bg-white p-3 w-52 h-auto border-r">
        <nav class="mt-5 space-y-3">
          <a href="/" class="bg-white/10 ml-4 group rounded flex items-center gap-2 p-1 overflow-hidden hover:bg-zinc-400 transition-colors text-lg">
            <img src="{{ url_for('static', filename='images/bar_chart.png')}}" width=25% width=25% position="relative" font-size="14px"/>
            Home</a>
            <a href="/search-jobs" class="bg-white/10 ml-4 group rounded flex items-center gap-2 p-1 overflow-hidden hover:bg-zinc-400 transition-colors text-lg">
            <img src="{{ url_for('static', filename='images/search_more.png')}}" width=25% width=25% />
          Search Jobs</a>
        </nav>
      </aside>
      <main class="flex-1 m-1">

        <div class="grid grid-cols-3 mb-1 mr-2 ml-2 gap-2 text-2xl font-bold">
          <div class=" bg-white rounded-md border-solid border-2 border-slate-200 text-zinc-500 flex flex-col justify-center items-center">
            Total Coletado
            <h1 class="font-normal">{{ vagas_coletadas | safe }} Resultados</h1>
          </div>
          <div class="bg-white rounded-md border-solid border-2 border-slate-200 text-zinc-500 flex flex-col justify-center items-center">
            Qtd Vagas Distintas
            <h1 class="flex justify-between items-center font-normal">{{ vagas_unicas | safe }}
            <div class="
              border-l-[6px] border-l-transparent
              border-t-[10px] border-t-red-500
              border-r-[6px] border-r-transparent
              ">
            </div>
            -{{ percentual_unicas | safe }}%
            </h1>
          </div>
          <div class=" bg-white rounded-md border-solid border-2 border-slate-200 text-zinc-500 font-bold flex flex-col justify-center items-center">
            Qtd Vagas Relevantes
            <h1 class="flex justify-between items-center font-normal">{{ vagas_relevantes | safe }}
              <div class="
                border-l-[6px] border-l-transparent
                border-t-[10px] border-t-red-500
                border-r-[6px] border-r-transparent">
            </div>
            -{{ percentual_relevantes | safe }}%
            </h1>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-2 mr-2 ml-2">
        
        <div class=" bg-white rounded-md border-solid border-2 border-slate-200">
          <canvas id="horizontalBar" class="p-3"></canvas>
        </div>

        <div class=" bg-white flex items-center rounded-md border-solid border-2 border-slate-200">
          <canvas id="doughnutGraph" class="p-3"></canvas>
        </div>

        <div class=" bg-white flex items-center rounded-md border-solid border-2 border-slate-200">
          <canvas id="modalidade" class="p-3"></canvas>
        </div>

          <script>
            var ctx = document.getElementById("horizontalBar").getContext("2d");
            var horizontalBar = new Chart(ctx, {
              type:"horizontalBar",
              data:{
                labels: {{ labels | safe }},
                datasets: [
                  {
                    axis: 'y',
                    data: {{ values | safe }}, 
                    fill: false,
                    backgroundColor: [
                      "rgba(39, 0, 230, 0.8)", 
                      "rgba(39, 30, 230, 0.8)", 
                      "rgba(39, 60, 230, 0.8)",
                      "rgba(39, 90, 230, 0.8)",
                      "rgba(39, 120, 230, 0.8)",
                      "rgba(39, 150, 230, 0.8)",
                      "rgba(39, 180, 230, 0.8)",
                      "rgba(39, 210, 230, 0.8)",
                      "rgba(39, 240, 230, 0.8)",
                      "rgba(39, 270, 230, 0.8)",
                    ],
                  }
                ]
              },
              options:{
                responsive: true,
                aspectRatio: 0.8,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                title: {
                  display: true,
                  text: 'Top 10 Posições',
                  fontSize: 18,
                },
                scales: {
                  xAxes: [{
                      gridLines: {
                      display: true 
                    }},
                  ],
                  yAxes: [{
                      gridLines: {
                      display: false
                    },
                      ticks:{
                        fontSize: 18,
                      }}
                  ],
              },
              }
            }
            )

            var ctx = document.getElementById("doughnutGraph").getContext("2d");
            var doughnutGraph = new Chart(ctx, {
              type:"doughnut",
              
              data:{
                labels: {{ labels1 | safe }},
                datasets: [
                  {
                    data: {{ values1 | safe }}, 
                    fill: false,
                    backgroundColor: [
                      "rgba(234, 24, 24, 0.8)",
                      "rgba(24, 234, 181, 0.8)", 
                      "rgba(151, 24, 234, 0.8)",
                      "rgba(39, 39, 245, 0.8)",
                    ],
                  }
                ]
              },
              options:{
                responsive: true,
                aspectRatio: 1,
                maintainAspectRatio: false,
                title: {
                  display: true,
                  text: 'Nível Profissional',
                  fontSize: 18,
                },
                legend: {
                  labels: {
                    usePointStyle: true,
                    boxWidth: 10,
                    fontSize: 16,
                  }
                },
              },
            }
            )
            var ctx2 = document.getElementById("modalidade").getContext("2d");
            var modalidade = new Chart(ctx2, {
              type:"bar",
              data:{
                labels: {{ labels_modalidade | safe }},
                datasets: [
                  {
                    data: {{ values_modalidade | safe }}, 
                    fill: false,
                    label: "",
                    backgroundColor: [
                      "rgba(14, 24, 240, 0.8)",
                      "rgba(14, 141, 240, 0.8)",
                      "rgba(14, 207, 240, 0.8)",
                      "rgba(14, 240, 226, 0.8)",
                    ],
                  }
                ]
              },
              options:{
                responsive: true,
                aspectRatio: 1,
                maintainAspectRatio: false,
                title: {
                  display: true,
                  text: 'Modalidade',
                  fontSize: 18
                },
                legend: {
                    display: false,
                    
                },
                scales: {
                  xAxes: [{
                      gridLines: {
                      display: false 
                    },
                      ticks:{
                        fontSize: 16,
                      }},
                  ],
                  yAxes: [{
                      gridLines: {
                      display: true 
                    }}
                  ],
              },
              }
            }
            )
          </script>        
        </div>
        <div class="mt-2 mr-2 ml-2 bg-white rounded-md border-solid border-2 border-slate-200 ">
          <canvas id="historico"></canvas>
          <script>
          const labels = {{ labels_historico | safe }};
          const data = {
            labels: labels,
            datasets: [
              {
                label: "Presencial",
                data:  {{ modalidade_total_presencial | safe }}, 
                backgroundColor: "rgba(14, 24, 240, 0.8)"
              },
              {
                label: "Hibrido",
                data:  {{ modalidade_total_hibrido | safe }}, 
                backgroundColor: "rgba(14, 141, 240, 0.8)"
              },
              {
                label: "Remoto",
                data:  {{ modalidade_total_remoto | safe }}, 
                backgroundColor: "rgba(14, 207, 240, 0.8)"
              }
            ]
          };
          const config = {
            type: 'bar',
            data: data,
            options: {
              responsive: true,
              aspectRatio: 0.5,
              maintainAspectRatio: false,
              scales: {
                xAxes: [{
                    barPercentage: 1,
                    stacked: true,
                    gridLines: {
                    display: false 
                  },
                    ticks:{
                      fontSize: 16,
                    }},
                ],
                yAxes: [{
                    stacked: true,
                    gridLines: {
                    display: true
                  }}
                ],
              },
            title: {
              display: true,
              text: 'Histórico',
              fontSize: 18,
            },
            legend: {
              labels: {
                usePointStyle: true,
                boxWidth: 10,
                fontSize: 16,
              }
            },
          },
          };
          var ctx3 = document.getElementById("historico").getContext("2d");
          var historico = new Chart(ctx3, config)
          </script>
        </div>
      </main>
    </section>
    <footer class="h-8 border p-4 flex items-center font-odor" >The math never lie</footer>
</body>

</html>
