<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"> </script>
</head>

<body">
  <div class="items-center justify-center pl-2 border h-14">
      <img src="{{ url_for('static', filename='images/logo_bolha_dev.svg')}}" width=17% height=17% class="p-2"/>
    </div>
    <section class="flex flex-col bg-slate-100 md:flex-col  items-center gap-2">
      <div class="border-solid border-2"><h1>div1</h1></div>
      <div class="border-solid border-2"><h1>div2</h1></div>
      <div class="border-solid border-2"><h1>div3</h1></div>
    </section>
</body>
<nav class="bg-white p-3 flex justify-center gap-x-56 items-center border-t">
  <a href="/" class="ml-4 group rounded flex items-center gap-2 p-1 overflow-hidden hover:bg-zinc-400 transition-colors text-lg">
      <img src="{{ url_for('static', filename='images/bar_chart.png')}}" alt="Home" width="25%" class="relative" style="font-size: 14px;">
      Home
  </a>
  <a href="/search-jobs" class="ml-4 group rounded flex items-center gap-2 p-1 overflow-hidden hover:bg-zinc-400 transition-colors text-lg">
      <img src="{{ url_for('static', filename='images/search_more.png')}}" alt="Search Jobs" width="25%">
      Search Jobs
  </a>
</nav>
</html>
