{% macro search_table_full(results, pages) %}
<div id="results" class="flex flex-col">
  <table class="text-zinc-900 w-full mt-1" >
    <thead>
      <tr>
        <th class="text-center">Title</th>
      </tr>
    </thead>
    <tbody class="text-left">
        {% for result in results %}
        <tr class="rounded-md border-solid border-2 border-slate-200 ">
            <td class="pl-1"><a href="{{ result[0] }}" target="_blank" class="text-blue-600 visited:text-purple-600">{{ result[1] }}</a></td>
        </tr>
        {% endfor %}
        {% if pages == [] %}
        <tr class="rounded-md border-solid border-2 border-slate-200">
          <td class="pl-1 text-center">0 Results</td>
        </tr>
      {% endif %}
    </tbody>
</table>
</div>
{% endmacro %}

{% macro search_table(results, pages) %}
{% for result in results %}
  <tr class="rounded-md border-solid border-2 border-slate-200">
    <td class="pl-1"><a href="{{ result[0] }}" target="_blank" class="text-blue-600 visited:text-purple-600">{{ result[1] }}</a></td>
  </tr>
    {% endfor %}
    {% if pages == [] %}
      <tr class="rounded-md border-solid border-2 border-slate-200">
        <td class="pl-1 text-center">0 Results</td>
      </tr>
    {% endif %}
{% endmacro %}

{% macro pagination(pages) %}
{% if pages|length > 1 %}
<nav aria-label="Page navigation example" class="flex flex-col items-center mt-4">
    <ul class="inline-flex -space-x-px text-sm">
      {% for page in pages %}
      <li>
        <a href="#" hx-target="#results" hx-get="/get-page?page={{ page }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page }}</a>
      </li>
      {% endfor %} 
    </ul>
</nav>
{% endif %}
{% endmacro %}